
// colors
$accentColor ?= #3eaf7c
$accentDarkColor ?= $accentColor

$inputDarkBgColor ?= #444d52

$textColor ?= #2c3e50
$textDarkColor ?= #eaeaea

$borderColor ?= #eaecef
$borderDarkColor ?= lighten($inputDarkBgColor, 10%)