name: Tests

on:
  pull_request:
  push:
    branches:
      - main
  merge_group:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [ '14', '16' ]
    name: Tests (Node.js ${{ matrix.node }})
    steps:
      - uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: yarn install
      - name: Run tests
        run: yarn run test

  linter:
    name: linter-check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: yarn install
    - name: Run linter
      run: yarn run lint
